/* Estilos para dispositivos de tela grande */
.footer{
    position: relative;
    text-align: start;
    bottom: 25vh;
    color: white;
    padding-left: 11vh;
}

.text-footer h3{
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.text-footer p{
    padding-bottom: 10px;
    padding-left: 3px;
    text-shadow: 1px 1px black;
    font-size: 15px;
}

.textmusic-footer{
    width: 68%;
    overflow-x: hidden;
    text-shadow: 1px 1px black;
}

.textmusic-footer p{
    animation: moveTheText 3s infinite linear;
}

.music-footer{
    display: flex;
}

.record-footer{
    animation: spinTheRecord 2s infinite linear;
    position: absolute;
    bottom: 15px;
    right: 75px;
    height: 35px;
    filter: invert(1);
}

.iconmusic-footer{
    margin-top: 10px;
}

/* Estilos para dispositivos de tela pequena */
@media only screen and (max-width: 440px) {
    
    .footer{
    position: relative;
    text-align: start;
    bottom: 25vh;
    color: white;
    padding-left: 11vh;
    }
    
    .text-footer h3{
        text-shadow: 1px 1px black;
        font-size: 20px;
    }
    
    .text-footer p{
        padding-bottom: 10px;
        padding-left: 3px;
        text-shadow: 1px 1px black;
        font-size: 15px;
    }
    
    .textmusic-footer{
        width: 78%;
        overflow-x: hidden;
        text-shadow: 1px 1px black;
    }
    
    .textmusic-footer p{
        animation: moveTheText 3s infinite linear;
    }
    
    .music-footer{
        display: flex;
    }
    
    .record-footer{
        animation: spinTheRecord 2s infinite linear;
        position: absolute;
        bottom: 30px;
        right: 25px;
        height: 30px;
        filter: invert(1);
    }
    
    .iconmusic-footer{
        margin-top: 10px;
    }
}

@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTheText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
