/* Estilos para dispositivos de tela grande */

.videoSidebar{
    position: absolute;
    top:50vh;
    right: 12vh;
    color: white;
    text-shadow: 1px 1px black;
}

.sidebar-options{
    padding: 2px;
    text-align: center;
}

.sidebar-options p{
    font-size: 15px;
    text-shadow: 1px 1px black;
}

/* Estilos para dispositivos de tela pequena */
@media only screen and (max-width: 440px) {
    .videoSidebar{
        position: absolute;
        top:50vh;
        right: 12vh;
        color: white;
        text-shadow: 1px 1px black;
    }

    .sidebar-options{
        padding: 2px;
        text-align: center;
    }
    
    .sidebar-options p{
        font-size: 15px;
        text-shadow: 1px 1px black;
    }
}